<doctype html>
    <html>
        <head>
            <title>test using CSS selectors</title>
        </head>
        <body>
            .ul{
                color: red;
                font-weight: bold
            }
            .li{
                border-bottom: 1px dashed black;
            }
        <h3> your records I have</h3>
        <ul>
            <li>The Clash</li> 
            <li>The selector</li>
            <li>Desmond Dekker</li>
        </ul>

