@font-face{
font-family: 'custom';
src: url(FanwoodText.otf)    
}
#header{
    text-align: center;
}
#title{
    font-family: 'custom'; color: navy;
}
footer{
    text-align: center;
}
a:link{

}
a:hover{
    color: green;
    font-weight: bold; text-decoration: underline;
}
#content{
    background-color: wheat;  
    }