th{
    font-weight: bold
}
p{
    text-align: center
}
a :visited{
    color: red;
}
a :active{
    color: red;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a:hover{
    color: red  
}